/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */

.blocks--2upDesktop > * {
  width: 50%;
}

.blocks--3upDesktop > * {
  width: 33.333333%;
}

.blocks--4upDesktop > * {
  width: 25%;
}
