/* ---------------------------------------------------------------------
 Card
------------------------------------------------------------------------ */

.card {
  height: 40rem;
  position: relative;
}

.card__bd {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
