/* ---------------------------------------------------------------------
 Card
------------------------------------------------------------------------ */

.card {
  background: $COLOR_LIGHTEST;
  border: 0.2rem solid $COLOR_PRIMARY_LIGHT;
  display: block;
  position: relative;
  @include transition(transform 0.3s ease-out);
}

a.card {
  color: initial;
  cursor: pointer;
}

.card__hd {
  padding: 2rem;
}

.card__bd {
  padding: 2rem;
}
