//----------------------------------------------------------------------
// Helper Mixin function declarations
//----------------------------------------------------------------------

@mixin clearfix() {
  &:after {
      content: " ";
      display: table;
      clear: both;
  }
}
