// -----------------------------------
// Variables
// -----------------------------------

// COLORS
// -----------------------------------
$COLOR_PRIMARY_DARK: #1c324a;
$COLOR_PRIMARY_LIGHT: #B0ACAB;
$COLOR_PRIMARY_VIBRANT: #f08455;

$COLOR_SECONDARY_DARK: #294A64;
$COLOR_SECONDARY_LIGHT: #2E719B;
$COLOR_SECONDARY_VIBRANT: #21b9a0;

$COLOR_TERTIARY_VIBRANT: #239ad4;

$COLOR_LIGHTEST: #fefffd;

// FONTS
// -----------------------------------
$FONT_FAMILY_SERIF: 'Lora', serif;
$FONT_FAMILY_SANS: 'Open Sans', sans-serif;

$FONT_SIZE_BASE: 10px;

$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_ITALIC: 400i;
$FONT_WEIGHT_BOLD: 700;

$FONT_CAPS_SPACING: 0.12rem;

// VIEWPORT
// -----------------------------------
$VIEWPORT_MEDIUM: 37.5em;
$VIEWPORT_LARGE: 60em;
$VIEWPORT_MAX: 100em;
