/* ---------------------------------------------------------------------
 Site
------------------------------------------------------------------------ */
.site {
  display: table;
  height: 100%;
  width: 100%;
}

.site__bd {
  display: table-row;
  height: auto;
}

.site__ft {
  display: table-row;
  height: 1px;
}
