<header class="header" role="banner">
  <div class="header__inner">
    <nav class="nav">
      <div class="nav__skip">
        <a href="#main">Skip to Content</a>
      </div>
      <div class="nav__logo">
        <a class="logo" href="/">
          <div class="logo__img">
            {% include logo.svg %}
          </div>
          <h1 class="logo__txt">CodeTaco</h1>
        </a>
      </div>
      <div class="nav__links">
        <ul class="hList hList--detached">
          <li>
            <a class="link" href="{{ "/articles" | prepend: site.github.url }}">Articles</a>
          </li>
          <li>
            <a class="link" href="{{ "/notes" | prepend: site.github.url }}">Authors</a>
          </li>
          <li>
            <a class="link" href="{{ "/about" | prepend: site.github.url }}">About</a>
          </li>
          <li>
            <a class="link" href="{{ "/feed.xml" | prepend: site.github.url }}">RSS</a>
          </li>
        </ul>
      </div>
    </nav><!-- end: nav -->
  </div>
</header><!-- end: header -->
