/* ---------------------------------------------------------------------
 Post styles
------------------------------------------------------------------------ */

.post h1 {
  font-size: 4.7976rem;
}

.post h2 {
  font-size: 3.3924rem;
}

.post h3 {
  font-size: 2.3988rem;
}

.post h4 {
  font-size: 1.6968rem;
}

.post h5 {
  font-size: 1.6rem;
}

.post pre {
  font-size: 1.8rem;
}
