/* ---------------------------------------------------------------------
 Post styles
------------------------------------------------------------------------ */

.post {
  font-size: 1.8rem;
}

.post h1 {
  font-size: 6.3968rem;
}

.post h2 {
  font-size: 4.5232rem;
}

.post h3 {
  font-size: 3.1984rem;
}

.post h4 {
  font-size: 2.2624rem;
}

.post h5 {
  font-size: 1.8rem;
}
