/* ---------------------------------------------------------------------
 Navigation
------------------------------------------------------------------------ */

.nav {
  @include clearfix();
}

.nav__logo {
  float: left;
}

.nav__links {
  float: right;
  font-size: 2rem;
  margin-top: 2rem;
}
