/* ---------------------------------------------------------------------
 Responsive Grid (12 Column)
------------------------------------------------------------------------ */

.grid__col {
  margin: 0 0.6rem; // Grid column margins will respond to the baseline changes as well!
}

.grid__col + .grid__col {
  margin-top: 0;
}

.grid__col--1 {
  width: calc(8.3333333333% - 1.1rem);
}

.grid__col--2 {
  width: calc(16.6666666667% - 1rem);
}

.grid__col--3 {
  width: calc(25% - 0.9rem);
}

.grid__col--4 {
  width: calc(33.3333333333% - 0.8rem);
}

.grid__col--5 {
  width: calc(41.6666666667% - 0.7rem);
}

.grid__col--6 {
  width: calc(50% - 0.6rem);
}

.grid__col--7 {
  width: calc(58.3333333333% - 0.5rem);
}

.grid__col--8 {
  width: calc(66.6666666667% - 0.4rem);
}

.grid__col--9 {
  width: calc(75% - 0.3rem);
}

.grid__col--10 {
  width: calc(83.3333333333% - 0.2rem);
}

.grid__col--11 {
  width: calc(91.6666666667% - 0.1rem);
}

.grid__col--12 {
  width: 100%;
}
