/* ---------------------------------------------------------------------
 Logo
------------------------------------------------------------------------ */

.logo__img {
  height: 5rem;
  width: 5rem;
}

.logo__txt {
  font-size: 5.4rem;
}
