/* ---------------------------------------------------------------------
 Introduction
------------------------------------------------------------------------ */

.intro__figure {
  max-width: none;
  width: 55rem;
}

.intro__text > * {
  max-width: 45rem;
}

.intro__text > * + * {
  margin-top: 2rem;
}
