/* ---------------------------------------------------------------------
 Elements - Set very basic element-only styles
------------------------------------------------------------------------ */

* {
  @include box-sizing(border-box);
}

html {
  font-size: $FONT_SIZE_BASE;
}

body {
  background-color: $COLOR_PRIMARY_DARK;
  background-repeat: repeat;
  color: $COLOR_LIGHTEST;
  font-family: $FONT_FAMILY_SANS;
  font-size: 1.6rem;
  font-weight: $FONT_WEIGHT_NORMAL;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
  width: 100%;
}

p + p {
  margin-top: 1rem;
}

p > a {
  border-bottom: 0.1rem dotted currentColor;
}

p > a:hover {
  border-bottom: 0.1rem solid currentColor;
}

a,
a:visited  {
  color: $COLOR_PRIMARY_VIBRANT;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  -webkit-appearance: none;
}

input {
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
}
