/* ---------------------------------------------------------------------
 Headings
------------------------------------------------------------------------ */

.hdg--1 {
  font-size: 4.7976rem;
}

.hdg--2 {
  font-size: 3.3924rem;
}

.hdg--3 {
  font-size: 2.3988rem;
}

.hdg--4 {
  font-size: 1.6968rem;
}
