/* ---------------------------------------------------------------------
 Headings
------------------------------------------------------------------------ */

.hdg--1 {
  font-size: 6.3968rem;
}

.hdg--2 {
  font-size: 4.5232rem;
}

.hdg--3 {
  font-size: 3.1984rem;
}

.hdg--4 {
  font-size: 2.2624rem;
}
