/* ---------------------------------------------------------------------
 Main Container
------------------------------------------------------------------------ */

.main {
  display: block;
  margin: 4rem auto;
}

.main--post {
  max-width: 96rem;
}
