---
layout: default
title: Articles
---

<div class="tier tier--separated">
  <div class="container">
    <section class="intro">
      <figure class="intro__figure">
        {% include lime.svg %}
      </figure>
      <div class="intro__text">
        <h2 class="hdg hdg--1 mix-hdg--colorTertiaryVibrant">Articles</h2>
        <p class="txt txt--md">Squeeze some lime on that keyboard.</p>
      </div>
    </section>
  </div><!-- end: container -->
</div><!-- end: tier -->
<div class="tier tier--separated">
  <div class="container">
    <section class="section mix-section--borderTop">
      <ul class="vList vList--separated mix-vList--borderedSeparated">
        {% for post in site.categories["articles"] %}
          <li>
            <div class="set">
              <div class="set__hd">
                <a href="{{ post.url | prepend: site.github.url }}">
                  <h3 class="hdg hdg--3 mix-hdg--colorVibrantLight">{{ post.title | escape }}</h3>
                </a>
              </div>
              <div class="set__bd">
                <span class="txt txt--sm">{{ post.date | date: "%b %-d, %Y" }}</span>
              </div>
              <div class="set__ft">
                {% for tag in post.tags %}
                  <a class="txt txt--sm txt--link" href="{{site.github.url}}/tag/{{tag}}">#{{ tag }}</a>
                {% endfor %}
              </div>
            </div><!-- end: set -->
          </li>
        {% endfor %}
      </ul>
    </section>
  </div><!-- end: container -->
</div><!-- end: tier -->

